.responsive-post-preview {
	display: block;
	margin: 15px 0 0;
}

.responsive-post-preview a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/sprites.svg);
	background-repeat: no-repeat;
	direction: ltr;
	text-indent: -9999px;
	text-align: left;
	overflow: hidden;
}

.responsive-post-preview a:focus {
	outline: none;
}

#icon-mobile {
	background-position: 0 0;
	width: 32px;
}
#icon-mobile2 {
	background-position: -48px 0;
	width: 32px;
}

.responsive-post-preview a:hover,
.responsive-post-preview a:hover {
	opacity: 0.8;
}